body {
    background-color: #6fb8bd;
    font-family: 'Roboto', sans-serif;
}

h3 {
    margin: 0px;
    color: #51868a;
}

.title{
    width: 71%;
    padding: 2%;
    font-size: 30px;
    margin: 0px auto;
    margin-bottom: 4%;
    background-color: #4a7a7d;
    color: #eee;
    text-align: left;
    position: relative;
}

.small{
    font-size: 20px;
    position: absolute;
    right: 2%;
    top: 8%;
}

.main {
    background-color: #6fb8bd;
    width: 75%;
    margin: 0 auto;
}

.tab-container {
    height: 50px;
    position: relative;
}

.tab {
    width: 80px;
    padding: 3% 0 3% 0;
    text-align: center;
    font-size: 15px;
    background-color: #FFF;
    color: #51868a;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    cursor: pointer;
    border-left: 1px solid white;
    border-right: 1px solid white;
}



#settings{
    left: 83px;
    padding: 2% 0 2% 0;
    background-color: #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

#share {
    left: 166px;
    padding: 2% 0 2% 0;
    background-color: #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;

}

.poll-form {
    text-align: center;
    padding: 2%;
    background-color: #FFF;
}


.display {
    
}

.question-in {
    font-size: 25px;
    padding: 2%;
    width: 100%;
    margin-bottom: 3%;
    border: 1px solid #ddd;
}

.answer {
    margin-bottom: 3%;
}

.answer-in {
    font-size: 15px;
    padding: 2%;
    width: 91%;
    border: 1px solid #ddd;
    border-right: 0px;
}

.delete-answer {
    font-size: 15px;
    padding: 2%;
    color: #355e65;
    background-color: #ff8080;
    width: 9%;
    border: 1px solid #ff8080;
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
}

.add-answer {
    border-radius: 100%;
    color: #6fb8bd;
    background-color: white;
    font-size: 20px;
    border: 2px solid #6fb8bd;
    cursor: pointer;
    
}

.submit {
    display: block;
    padding: 2%;
    margin-top: 3%;
    width: 100%;
    background: #00cc66;
    color: #fff;
    font-size: 25px;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
}

.share-form {
    background-color: white;
    padding: 2%;
    padding-top: 4%;
}

.url-box {
    margin-top: 5px;
    width: 100%;
    font-size: 15px;
    padding: 2%;
    border: 1px solid #ddd;
}

.new-poll-btn {
    display: block;
    padding: 2%;
    margin-top: 5%;
    width: 100%;
    background: #00cc66;
    color: #fff;
    font-size: 25px;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
}

.settings-form{
    padding: 2%;
    background-color: #FFF;
    height: 100px;
}